body{
    text-align: center;
    margin: 0;
    width: 400px;
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* text-align: center; */
}

/* .container{
    text-align: center;
} */

#head{
    color: rgb(35, 35, 158);
    background-size: auto;
    background-color: rgb(10, 7, 7);
}

#hero{
    font-size: large;
    font-weight: 700;
    font-style: italic;
    color: rgb(90, 16, 16);
}

#pol-1{
    padding: 7px 20px;
}

#pol-2{
    padding: 7px 20px;
}

#pol-3{
    padding: 7px 20px;
}

.buttons{
    display: flex;
    justify-content: space-between;
}